* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
}

.container {
    margin: auto;
}

.content {
    display: flex;
}

.item {
    display: none;
}

.active {
    display: block;
}

.slide {
    padding: 12px 16px;
    border-radius: 4px;
    cursor: pointer;
}